/* 
    Document   : style
    Created on : 2013-08-24, 12:30:18
    Author     : Asia i conish
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    padding: 0px;
    margin: 0px;
}
.content {
    margin: 10px 0 0 10px;
}
.post_wrapper {
    margin: 5px 0 0 20px;
    border-bottom: #D0D0D0 solid 1px;
}

.post_body {
    margin: 0 0 5px 0;
}
.posts_wrapper {
    width: 60%;
}
.post_info {
    margin: 0 0 3px 0;
    color: #4F5155;
    font-size: smaller;
}
nav {
    position: fixed;
    top: 130px;
    right: 50px;
}
header {
    height: 100px;
    background-image: url("/img/header.png");
}
h1 {
    display: inline;
    margin: 0;
}
.header_wrapper {
    padding: 10px 0 0 25%;
}
h1>a, h1>a:hover{
   color: #002166;
   text-decoration: none;
}
a {
    color: #4F5155;
    text-decoration: none;
}
a:hover {
    color: #D0D0D0;
}
.komentarze_wrapper {
    margin-left: 10%;
}
textarea {
    width: 40%;
    margin-bottom: 10px;    
}
label {
    margin-right: 10px;
}
.dialogs>label {
    font-size: smaller;
}
.dialogs>input {
    padding: 5px;
}
.form_row {
    margin-bottom: 5px;
}
#log_tab_wrapper {
    text-align: right;

    background: darkgrey;
    color: #4F5155;
    padding: 3px 50px 3px 3px;
}
span.pause {
    margin: 0 5px 0 5px;
}
div#logged_menu {
    position: absolute;
    top: 20px;
    width: 100%;
    
}
div#logged_menu>div {
    position: relative;
    width: 180px;
    float: right;
    z-index: 3;
}
div#logged_menu>div>ul {
    padding: 0;
    /*width: 60px; */
    list-style-type: none;
    margin: 0 0 16px 0;
    display: none;
}
div#logged_menu>div>ul>li {
    background: darkgray;
    border-bottom: 1px #4F5155 solid;
    padding: 3px 0 3px 10px;
}
span.menu {
    cursor: pointer;
}
.dialogs {
    display:none;
}
#log_tab_wrapper>a{
    /*z-index: 2;*/
}
div.zaslepka {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #4F5155;
    opacity: 0.4;
    padding: 0;
    display: none;
    top:0;
}